.ContainerPrincipal{
    display: grid;
    grid-template-columns:  auto auto auto auto;
    /* justify-content: space-evenly; */
    justify-content: center;
}

.img{
    height: 100px;
}

.busqueda{
    font-family: 'Acme', sans-serif;
}
